---
import { Icon } from 'astro-icon';
---

<section class="relative">
	<div class="absolute inset-0 pointer-events-none mb-32" aria-hidden="true"></div>
	<div class="relative max-w-6xl mx-auto px-4 sm:px-6">
		<div class="py-4 pt-8 sm:py-6 lg:py-8 lg:pt-12">
			<div class="mb-8 text-center">
				<h2
					class="text-4xl md:text-5xl font-bold leading-tighter tracking-tighter mb-4 font-heading"
				>
					Impressum
				</h2>
			</div>
			<div class="grid gap-6 md:grid-cols-2 lg:grid-cols-2 items-start my-12 dark:text-white">
				<div
					class="relative flex flex-col p-6 bg-white dark:bg-slate-900 rounded shadow-xl hover:shadow-lg transition dark:border dark:border-slate-800"
				>
					<div class="flex items-center mb-4">
						<Icon name="fa:credit-card" class="w-12 h-12" />
					</div>
					<h2 class="pb-4">Adresse</h2>
					<p class="text-gray-500 dark:text-gray-400 text-md">
						Privater Automarkt Radolfzell / www.billig-car.de<br />
						Rechtsform: Einzelunternehmen<br />
						Straße: Herrenlandstrasse 39 Ort: D-78315 Radolfzell<br />
						Tel: +49 - (0)7732 / 942407<br />
						Fax: +49 - (0)7732 / 942408<br />
						E-Mail: info@billig-car.de<br />
						Handelsregister: Amtsgericht Radolfzell<br />
						Handelsregister-Eintragung: Keine Eintragung<br />
					</p>
				</div>
				<div
					class="relative flex flex-col p-6 bg-white dark:bg-slate-900 rounded shadow-xl hover:shadow-lg transition dark:border dark:border-slate-800"
				>
					<div class="flex items-center mb-4">
						<Icon name="fa:address-book" class="w-12 h-12" />
					</div>
					<h2 class="pb-4">Steuernummer / Haftungsasuschluss</h2>
					<p class="text-gray-500 dark:text-gray-400 text-md">
						Umsatzsteuer-Identifikationsnummer nach § 27a Umsatzsteuergesetz: 18451/35777<br />
						Alleininhaber: Manfred Schlett<br /><br />
						Haftungsausschluss: Wir bemühen uns, Ihnen genaue und aktuelle Informationen zur Verfügung
						zu stellen. Trotz größter Sorgfalt können wir keine Gewähr für die Richtigkeit und Vollständigkeit
						der Inhalte dieser Internet-Seiten übernehmen.
					</p>
				</div>
			</div>
		</div>
	</div>
</section>
