---
import { SITE } from '~/config.mjs';
import { getCanonical, getHomePermalink } from '~/utils/permalinks';
import Layout from '~/layouts/PageLayout.astro';
import { Image, Picture } from '@astrojs/image/components';

const base = SITE.basePathname;
console.log('Base:', base);

const meta = {
	title: SITE.title,
	description: SITE.description,
	canonical: getCanonical(getHomePermalink()),
};
const galleryPath = SITE.basePathname + '/Gallery/';

const images = [
	{ id: '1', src: '1.jpg' },
	{ id: '2', src: '2.jpg' },
	{ id: '3', src: '3.jpg' },
	{ id: '4', src: '4.jpg' },
	{ id: '5', src: '5.jpg' },
	{ id: '6', src: '6.jpg' },
	{ id: '7', src: '7.jpg' },
	{ id: '8', src: '8.jpg' },
	{ id: '9', src: '9.jpg' },
	{ id: '10', src: '10.jpg' },
	{ id: '11', src: '11.jpg' },
	{ id: '12', src: '12.jpg' },
	{ id: '13', src: '13.jpg' },
	{ id: '14', src: '14.jpg' },
	{ id: '15', src: '15.jpg' },
	{ id: '16', src: '16.jpg' },
	{ id: '17', src: '17.jpg' },
];
---

<Layout {meta}>
	<div class="carousel w-3/4 mx-auto">
		{
			images.map((image) => (
				<div id={'item' + image.id} class="carousel-item w-full">
					<Image src={galleryPath + image.src} height="500" aspectRatio="16:9" alt={'Gallery' + image.id} />
				</div>
			))
		}
	</div>
    <div class="flex justify-center w-full flex-wrap py-2 gap-2">
		{
			images.map((image) => (
				<a href={'#item' + image.id} class="btn btn-xs">
					{image.id}
				</a>
			))
		}
	</div>
</Layout>

