---
import { SITE } from '~/config.mjs';
import { getCanonical, getHomePermalink } from '~/utils/permalinks';
import Layout from '~/layouts/PageLayout.astro';

const meta = {
	title: SITE.title,
	description: SITE.description,
	canonical: getCanonical(getHomePermalink()),
};
---

<Layout {meta}>
	<div class="carousel w-3/4 mx-auto">
		<div id="item1" class="carousel-item w-full">
			<img src="https://placeimg.com/800/200/arch" class="w-full" />
		</div>
		<div id="item2" class="carousel-item w-full">
			<img src="https://placeimg.com/800/200/arch" class="w-full" />
		</div>
		<div id="item3" class="carousel-item w-full">
			<img src="https://placeimg.com/800/200/arch" class="w-full" />
		</div>
		<div id="item4" class="carousel-item w-full">
			<img src="https://placeimg.com/800/200/arch" class="w-full" />
		</div>
	</div>
	<div class="flex justify-center w-full py-2 gap-2">
		<a href="#item1" class="btn btn-xs">1</a>
		<a href="#item2" class="btn btn-xs">2</a>
		<a href="#item3" class="btn btn-xs">3</a>
		<a href="#item4" class="btn btn-xs">4</a>
	</div>
	<div class="">Gallery</div>
</Layout>
