---
import { SITE } from '~/config.mjs';
import { getCanonical, getHomePermalink } from '~/utils/permalinks';
import Layout from '~/layouts/PageLayout.astro';
import Features from '~/components/widgets/Features2.astro';

const meta = {
	title: SITE.title,
	description: SITE.description,
	canonical: getCanonical(getHomePermalink()),
};
---

<Layout {meta}>
	<Features />
	<div class="">Impressum</div>
</Layout>
